<!-- this is the main page which is rendered when the website reloads -->

<center>
  <h1 class="home-headings">Tasks</h1>

  <div class="grid-container">
    <% @tasks.each do |task| %>
      <div>
        <a href="<%= task_path(task) %>">
          <%= task.title %>
        </a>
      </div>
    <% end %>
  </div>
  <br>

  <h2><%= link_to "Create New Task", new_task_path %></h2>
</center>
