<div >
  <p>
    <strong>Title:</strong>
    <%= subtask.title %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= subtask.completed %>
  </p>

  <p>
    <%= link_to "Edit", edit_task_subtask_path(@task) %>
    <%= link_to "Destroy", [subtask.task, subtask], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
</div>




