h1{
    font-size: 50px;
 }

 .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding-bottom: 30px;
  }

  .other-headings{
   color:rgb(73, 5, 208);
  }

  .home-headings{
   color:brown;
  }



